<!-- Anthony Krivonos (ak4483), COMS 4170 -->

{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
<style>
    .container {
        height: 70vh !important;
    }
    .footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: right;
        padding-bottom: 2em;
        padding-left: 3em;
        padding-right: 3em;
    }
</style>

<div class="container p-4 d-flex flex-column align-items-stretch justify-content-center">
    <div class="d-flex flex-column text-center">
        <div class="title bold font-huge">Яecipe</div>
        <div class="font-md color-gray mt-3">Become a Russian food masterchef.</div>
        <div class="row mt-4">
            <div class="d-flex justify-content-end col-6 p-4">
                <button class="btn bg-white browse-button">Let's Get Cookin'</button>
            </div>
            <div class="d-flex justify-content-start col-6 p-4">
                <button class="btn bg-red color-white quiz-button">Quiz Me</button>
            </div>
        </div>
        <a href="/leaderboard" class="font-sm mt-3">View the Leaderboard</a>
    </div>
</div>
<footer class="footer font-xs">
    Created by <a href="https://anthonykrivonos.com">Anthony Krivonos</a>.<br>
    Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a>, <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, and <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>.
</footer>
{% endblock %}