<!-- Anthony Krivonos (ak4483), COMS 4170 -->

{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    const dishes = {{data|tojson}}
    const cabinets = {{cabinets|tojson}}
</script>
<style>
    /* List Styles */
    ul {
        list-style: none;
    }
    ul li::before {
        content: "\2022";
        color: #434343;
        font-weight: bold;
        font-size: 1.4em;
        width: 1em;
        display: inline-block;
        margin-left: -1.4em;
    }    
    .dish-img {
        width: 18vw;
        height: 18vw;
        min-width: 140px;
        min-height: 140px;
        border-radius: 50%;
        margin-bottom: -3vw;
        align-self: flex-end;
        object-fit: cover;
    }
    .bowl-col {
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .bowl-col-bottom {
        align-items: center;
    }
    #bowl {
        -webkit-user-drag: none;
        width: 60%;
        transition: transform 0.25s;
    }
    .droppable {
        transform: scale(1.2);
    }
    .undroppable {
        opacity: 0.4;
        transform: scale(0.8);
    }
    .aboutta-drop {
        transform: scale(1.7);
    }
    .draggable {
        transform: scale(1.4);
    }
    .cabinet-col {
        position: relative;
    }
    .cabinet-col .bar {
        position: absolute;
        width: 1.5em;
        border-radius: .75em;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }
    #cabinet {
        height: 100%;
        justify-content: space-between !important;
    }
    .ingredient {
        transition: transform 0.25s;
        cursor: move;
    }
    .ingredient:hover {
        transform: scale(1.2);
    }
    .ingredient-name {
        align-items: center;
    }
    .ingredient-col {
        justify-content: flex-end;
    }
    .ingredient-col > .ingredient {
        width: 2.5rem;
        right: 0;
        -webkit-user-drag: none;
    }
    #step {
        border-radius: 1rem;
        background-color: white;
    }
    #ingredient-list {
        text-align: center;
        width: 100%;
    }
    .current-dishes {
        width: 100%;
        flex: 1;
        align-self: stretch;
    }
    .other-dish {
        flex: 1;
        border-radius: 200px;
        padding-left: 16px !important;
        padding-right: 16px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
    .mistakes-inner {
        max-height: 10vh;
        overflow-y: scroll;
        border: solid 1px #efefefff;
        border-radius: 16px;
    }
    #quizPage {
        display: none;
    }
    #introPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #introPage > .container {
        height: 80vh;
    }
    .carousel, .carousel-inner, .carousel-item {
        height: 50vh;
        width: 80vw;
    }
    .carousel-indicators li {
        background-color: #434343;
    }
    .carousel-indicators .active {
        background-color: black;
    }
    .carousel-control-next-icon {
        color: green;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 4em;
        width: 8em;
        align-items: center;
        display: flex;
        justify-content: center;
        outline: black;
        background-image: none;
    }
    .carousel-control-next-icon:after {
        content: '►';
        font-family: Helvetica;
        font-size: 20px;
        color: black;
    }
    .carousel-control-prev-icon:after {
        content: '◀';
        font-family: Helvetica;
        font-size: 20px;
        color: black;
    }
    .carousel-content {
        padding-left: 8em;
        padding-right: 8em;
        padding-bottom: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        height: 100%;
    }
    .mistakes-example .mistakes-inner {
        max-height: 14vh;
    }
    .mb--4 {
        margin-bottom: -0.5em;
    }
</style>

<div id="quizPage" class="container p-4">
    <div class="row mt-4">
        <div class="col-5">
            <div class="title bold font-xl">Quiz</div>
            <div class="font-md color-gray mt-2">Complete three recipes to pass!</div>
            <div class="text-uppercase color-red bold font-xs mt-1 mb-4">Time Elapsed: <span id="time"></span></div>
            <div id="current_dish"></div>
            <div id="other_dishes" class="other-dishes"></div>
            <div id="mistakes"></div>
        </div>
        <div class="col-7 row">
            <div class="col-8 bowl-col d-flex flex-column">
                <div id="step" class="raised p-3 mt-4 align-self-stretch"></div>
                <div id="bowl-dropzone" class="bowl-col-bottom d-flex flex-column">
                    <img id="bowl" src="{{ url_for('static', filename = 'assets/bowl.svg') }}" />
                    <div id="ingredient-list" class="title mt-4 text-xs"></div>
                </div>
            </div>
            <div class="col-4 cabinet-col">
                <div id="cabinet" class="d-flex flex-column"></div>
                <div class="bar bg-light-gray"></div>
            </div>
        </div>
    </div>
</div>

<div id="introPage" class="p-4 d-flex flex-column align-items-center justify-content-center">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="d-flex flex-column text-center">
            <div class="title bold font-xl mb--4">Quiz</div>
            <div id="indicators" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#indicators" data-slide-to="0" class="active"></li>
                    <li data-target="#indicators" data-slide-to="1"></li>
                    <li data-target="#indicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-content">
                            <div class="d-flex flex-column align-items-stretch">
                                <div class="other-dish d-flex flex-row justify-content-between bg-offwhite color-red p-2 mt-2 mb-2">
                                    <div class="color-dark-gray">1. Syrniki</div>
                                    <div class="bold">COMPLETED</div>
                                </div>
                                <div class="other-dish d-flex flex-row justify-content-between bg-light-gray color-dark-gray p-2 mt-2 mb-2">
                                    <div class="color-dark-gray">2. Grenki</div>
                                    <div class="bold">UP NEXT</div>
                                </div>
                                <div class="other-dish d-flex flex-row justify-content-between bg-light-gray color-dark-gray p-2 mt-2 mb-2">
                                    <div class="color-dark-gray">3. Borscht</div>
                                    <div class="bold">LAST ONE</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-caption d-md-block color-dark-gray pb-4">
                            <div class="h5">3 Recipes</div>
                            <div>You will be quizzed on <span class="bold">3 randomly selected recipes</span> that you have studied.</div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-content">
                            <div class="text-uppercase color-red bold font-lg">Time Elapsed: <span id="time-example"></span></div>
                        </div>
                        <div class="carousel-caption d-md-block color-dark-gray pb-4">
                            <div class="h5">Go fast!</div>
                            <div>The quiz is <span class="bold">timed</span> and the timer <span class="bold">will not stop</span> between each recipe. Your score grows <span class="bold">exponentially</span> the faster you complete the quiz.</div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-content">
                            <div class="mistakes-example">
                                <div class="mistakes-inner">
                                    <div class="other-dish d-flex flex-row justify-content-between color-dark-gray p-2">
                                        <div>1. Added <span class="p-1 bg-red color-white">olive oil</span> instead of <span class="bold">sugar</span>.</div>
                                        <div class="color-gray bold">Syrniki</div>
                                    </div>
                                    <div class="other-dish d-flex flex-row justify-content-between color-dark-gray p-2">
                                        <div>2. Added <span class="p-1 bg-red color-white">sour cream</span> instead of <span class="bold">butter</span>.</div>
                                        <div class="color-gray bold">Syrniki</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-caption d-md-block color-dark-gray pb-4">
                            <div class="h5">Mistakes count.</div>
                            <div>You will be slightly <span class="bold">penalized for mistakes</span> and will be given the correct ingredient afterwards.</div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#indicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#indicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="font-md mt-4">
                <span class="bold">Press the button below</span> to start the timer.
            </div>
            <div class="mt-4 d-flex flex-row justify-content-center">
                <button class="btn bg-red color-white start-quiz-button">Start Quiz</button>
            </div>
            <a href="/leaderboard" class="font-sm mt-3">Or, view the Leaderboard instead.</a>
        </div>
    </div>
</div>

{% endblock %}